<div class="drawArea">
	<div class="tools">
		<ul>
			<li onclick={{action "setTool" "brush"}} data-balloon="Brush tool" data-balloon-pos="right" class="{{if brushEnabled 'selected' ''}}"><i class="fa fa-paint-brush" /></li>
			<li onclick={{action "setTool" "pen"}} data-balloon="Pencil tool" data-balloon-pos="right" class="{{if penEnabled 'selected' ''}}"><i class="fa fa-pencil" /></li>
			<li onclick={{action "setTool" "eraser"}} data-balloon="Eraser tool" data-balloon-pos="right" class="{{if eraserEnabled 'selected' ''}}"><i class="fa fa-eraser" /></li>
			<li onclick={{action "setTool" "rectangle"}} data-balloon="Rectangle tool" data-balloon-pos="right" class="{{if rectangleEnabled 'selected' ''}}"><i class="fa fa-square-o" /></li>
			<li onclick={{action "setTool" "circle"}} data-balloon="Circle tool" data-balloon-pos="right" class="{{if circleEnabled 'selected' ''}}"><i class="fa fa-circle-o" /></li>
			<li onclick={{action "setTool" "fill"}} data-balloon="Fill tool" data-balloon-pos="right" class="{{if fillEnabled 'selected' ''}}"><i class="fa fa-stop" /></li>
			<li onclick={{action "setTool" "clear"}} data-balloon="Clear draw" data-balloon-pos="right"><i class="fa fa-file-o" /></li>
		</ul>

		{{inputs/default-color currValue=brushColor }}
		{{inputs/default-slider label="brush size" currentValue=brushSize min=10 max=100 }}

	</div>
	<div class="drawableArea">
		<table>
			<tr class="emp">
				<th class="min" style="border-right: 1px solid #777; border-bottom: 1px solid #777;"></th>
				<th></th>
				<th class="min" style="border-left: 1px solid #777; border-bottom: 1px solid #777;"></th>
			</tr>
			<tr>
				<th></th>
				<th class="content"><canvas id="paper" width="424" height="530"></canvas></th>
				<th></th>
			</tr>
			<tr class="emp">
				<th class="min" style="border-right: 1px solid #777; border-top: 1px solid #777;"></th>
				<th></th>
				<th class="min" style="border-left: 1px solid #777; border-top: 1px solid #777;"></th>
			</tr>
		</table>
	</div>
</div>