<table>


	<tr id="row">

		<th class="name">
			<span class="flag-icon flag-icon-{{data.language}}"></span>
			{{{data.name}}}
		</th>

		<th class="users">
			<i class="fa fa-user-circle" />
			{{{data.users.length}}}/{{{data.maxUsers}}}
		</th>

		<th class="round">
			<i class="fa fa-bookmark-o" />
			{{{data.currentRound}}}/{{{data.maxRounds}}}
		</th>

		<th class="join">
			{{inputs/fa-button icon="fa-sign-in"}}
		</th>

	</tr>


	<tr class="expanded">

		<th>
			<span class="info">Created at {{{data.cration}}}<br>by {{{data.users.0.name}}}</span>

			<br>

			<span class="description">Description:<br>
				<span>
					{{{data.description}}}
				</span>
			</span>

		</th>

		<th class="userlist" colspan="3">
			<span>
				Users:<br>
				<table>
					{{#each data.users as |user|}}	
						<tr>
							<th>{{{user.name}}}</th>
							<th>{{user.score}}pt</th>
							<th><i class="fa fa-pencil" style="color:{{if user.drawing '#444' '#DDD'}};" /></th>
						</tr>
					{{/each}}
				</table>
			</span>
		</th>
	</tr>


</table>