<div class="overlay">
	{{#click-outside action="outClick"}}
	<div class="popup">

		<div class="profile">
			<div class="avatar">
				<i class="fa fa-user-circle" />
			</div>
			<div class="description">
				<span class="username"><span class="flag-icon flag-icon-it"></span> Username</span><br>
				<span class="desc">Hi I'm Username, I was born in Sardinia and I like to draw everythink I see.</span>
			</div>

			<div class="stats">
				<div class="favSketch">
					<img src="assets/images/dog.jpg" height="150" width="150">
				</div>
				<div class="numbers">
					Wins: <span class="value">64</span><br>
					Words found: <span class="value">210</span><br>
					Total games: <span class="value">43</span><br>
					Play time: <span class="value">23h</span><br>
					Member since: <span class="value">1yr</span><br>
				</div>
				<div class="rank">

				</div>
			</div>

			<div class="gallery">
				Gallery
				<div class="images">
					
					<img src="assets/images/dog.jpg" height="110" width="110">
					<img src="assets/images/dog.jpg" height="110" width="110">
					<img src="assets/images/dog.jpg" height="110" width="110">
					<img src="assets/images/dog.jpg" height="110" width="110">
					<img src="assets/images/dog.jpg" height="110" width="110">
				</div>
			</div>
		</div>

		<div class="friends">

			{{friend-block}}
			{{friend-block}}
			{{friend-block}}
			{{friend-block}}
			{{friend-block}}
			{{friend-block}}

		</div>

	</div>
	{{/click-outside}}
</div>