{{#if disabled}}
	<input type="checkbox" id="{{name}}" name="{{name}}" checked="{{checked}}" disabled />
{{else}}
	<input type="checkbox" id="{{name}}" name="{{name}}" checked="{{checked}}" />
{{/if}}
<label for="{{name}}" >{{label}}</label>