{{#if disabled}}
	{{#if checked}}
		<input type="checkbox" id="{{name}}" name="{{name}}" checked disabled />
	{{else}}
		<input type="checkbox" id="{{name}}" name="{{name}}" disabled />
	{{/if}}
{{else}}
	{{#if checked}}
		<input type="checkbox" id="{{name}}" name="{{name}}" checked />
	{{else}}
		<input type="checkbox" id="{{name}}" name="{{name}}" />
	{{/if}}
{{/if}}
<label for="{{name}}" >{{label}}</label>