{{top-bar topbarBorder=true userLogged=true userPopup=model.userPopupState}}

<div class="gameplay">

	<div class="left">
		<div class="top">
			<div class="users">
				<span>
					<table>
						{{#each model.users as |user|}}	
							<tr>
								<th style="{{if user.current 'font-weight: bolder;' ''}}">{{{user.name}}}</th>
								<th>{{user.score}}pt</th>
								<th><i class="fa fa-pencil" style="color:{{if user.drawing '#444' '#DDD'}};" /></th>
							</tr>
						{{/each}}
					</table>
				</span>
			</div>
			<div class="round">
				<div class="timer">
					{{charts/radial-chart proggress=75}}
					<div class="info">
						<span class="roundNumber">Round 7/10</span><br>
						<span class="role">Now you are drawing</span>
					</div>
				</div>
				<div class="word">
					The current word is<br>
					<i class="fa fa-info-circle"></i>
					<span class="word">Hospital</span>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="chat">
				{{chat-controller messages=model.messages}}
			</div>
		</div>
	</div>

	<div class="right">
		{{inputs/default-confirm-button label="Away" icon="fa-pause" color="#383433" }}
		{{inputs/default-confirm-button label="Hint" icon="fa-question-circle" color="#E5B74B" }}
		{{inputs/default-confirm-button label="Skip" icon="fa-flag" action="endGame" color="#554D9E" }}
		{{inputs/default-confirm-button label="Exit" icon="fa-sign-out" action="exit" color="#E24A4A" }}

		{{draw-area}}
	
	</div>

</div>

{{user-profile visible=model.userPopupState}}
{{game-result visible=model.endGamePopupState}}