{{top-bar showTitle=false}}

{{#animations/fade-slide}}
<div class="login" align="center">

	<span class="logo">Sketch<span>it</span></span>

	<div class="content">

		<div class="guest" data-balloon="Login as guest&#10;(not avaiable)" data-balloon-pos="up" data-balloon-break>
			{{inputs/fa-button icon="fa-user-circle"}}
		</div>

		<div class="form">
			{{inputs/default-textbox placeholder="Username" currValue=model.username onEnter="login"}}
			<br><br>
			{{inputs/default-textbox placeholder="Password" password=true currValue=model.password onEnter="login"}}
			<br><br><br>
			{{inputs/default-button text="Register" action="register"}}
			{{inputs/default-button text="Login" action="login"}}
		</div>

		<div class="error">
			Test
		</div>

	</div>

</div>
{{/animations/fade-slide}}