{{top-bar topbarBorder=true userLogged=true userPopup=model.userPopupState}}


{{#animations/fade-slide}}
	<div class="lobby">

		{{! Left part (room list) }}
		<div class="roomList">

			{{! This row adds new rooms }}
			{{room-list-new action="newRoom"}}
			
			{{! Room list }}
			{{#each model.rooms as |item|}}	

				{{room-list-entry data=item action="openRoom"}}

			{{/each}}
			
		</div>

		{{! Right part (chat) }}
		<div class="chat">

			{{chat-controller messages=model.messages action='sendMessage'}}
			
		</div>

	</div>
{{/animations/fade-slide}}

{{user-profile visible=model.userPopupState}}